<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Search</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/userSearch.css">
  </head>
  <body>
    <!-- 이거 부트스트랩써서 수정해야되니깐 여긴 나중에 해욥ㅎㅎㅎㅎ -->
    <div id="nav_Div">
      <img src="images/logo.png" id="logo_Image" height="100%">
      <div id="user_Input">
        <div id="help_Vertical">
          <div>
            <img src="images/user.png" height="20%" />
          </div>
          <div>
            &nbsp;<strong>seongjin571</strong>
          </div>
          <div>ㅣ</div>
          <div>
            <strong>컴퓨터공학과</strong>
          </div>
        </div>
      </div>
    </div>
    <div id="body_Div">
      <div id="title">
        Search User
      </div>
      <div id="filter_box_wrapper">
        <div id="filter_box">
        <div class="filter_boxes">
          <div class="filter_names">
            학점
          </div>
          <select class="filters">
            <option>무관</option>
            <option>2.0이하</option>
            <option>2.0~2.5</option>
            <option>2.5~3.0</option>
            <option>3.0~3.5</option>
            <option>3.5~4.0</option>
            <option>4.0~4.5</option>
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            토익
          </div>
          <select class="filters">
            <option>무관</option>
            <option>700 이하</option>
            <option>700~750</option>
            <option>750~800</option>
            <option>850~900</option>
            <option>900~950</option>
            <option>950 이상</option>
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            토스
          </div>
          <select class="filters">
            <option>무관</option>
            <option>Lv4 이하</option>
            <option>Lv5</option>
            <option>Lv6</option>
            <option>Lv7</option>
            <option>Lv8</option>
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            오픽
          </div>
          <select class="filters">
            <option>무관</option>
            <option>AL</option>
            <option>IH</option>
            <option>IM3</option>
            <option>IM2</option>
            <option>IM1</option>
            <option>IL</option>
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            봉사
          </div>
          <select class="filters">
            <option>무관</option>
            <option>0회</option>
            <option>1~3회</option>
            <option>2~3회</option>
            <option>4회 </option>
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            인턴
          </div>
          <select class="filters">
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            공모전
          </div>
          <select class="filters">
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            해외경험
          </div>
          <select class="filters">
          </select>
        </div>
        <div class="filter_boxes">
          <div class="filter_names">
            자격증
          </div>
          <select class="filters">
          </select>
        </div>
      </div>
      </div>
      <div id="search_div">
        <div id="search_div_baby">
          <img id="search_img" src="images/search.png">
          <div id="search_text">
            검색
          </div>
        </div>
        </div>
        <div id="result">
          결과
        </div>
      </div>
    </div>
  </body>
  <script>
    /*
    To.마새고를 맛있게 먹고있는 세인
    이 페이지는 내가 선택한 직군 안에서 어느 유저들이 있는지 검색해보는 페이지야
    필터링 기능을 통해서 내가 원하는 조건을 검색해볼 수 있어
    필터할 때 나는 select랑 option 태그로 썼는데 성진오빠가 그 부분만 부트스트랩을 쓰라고 하더라고
    따라서 여기서 추가할 부분은
    1. 결과화면 html 부분 추가(지금은 그냥 div id="result"로 남겨놨옹)
    2. 디자인 수정
    3. select option(필터링부분) 부트스트랩 쓰기
    */
  </script>
</html>
